.background {
    background-image: url('https://images.squarespace-cdn.com/content/v1/55664553e4b0e48846329dc0/1513810378697-SE401H22HUNY98E30669/samples.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin: 0;
}

body::before{
    content:"";
    position:fixed;
    inset:0;
    background:rgba(255, 255, 255, 0.15);
    backdrop-filter:blur(2px);
    pointer-events:none;
}

.desktopIcon {
    width:56px;
    height:56px;
    border-radius:16px;
    background:rgba(255,255,255,.35);
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.2s;
    cursor:pointer;
}

.desktopIcon:hover{
    transform:translateY(-2px);
    transform:scale(1.1);
    background:rgba(255,255,255,.55);
    transition: 2px;
}

.headerText{
    cursor: pointer;
    justify-content: left;
}

.headerText:hover{
    transform: scale(1.03);
}

.clock {
    border: solid rgba(0,0,0,0.2); 
    border-radius: 10px; 
    padding: 5px; 
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 10px 35px rgba(0,0,0,.22), 0 2px 8px rgba(0,0,0,.15);
}

.clock:hover {
    transform: scale(1.01);
}

.welcomescreen {
    border: solid rgba(67, 118, 221, 0.8);
    border-radius: 20px; 
    padding: 9px;
    padding-top: 9px; 
    margin-top :10px;
}

.close-button {
    cursor: pointer;
    height: 15px;
    width: 15px;
    align-items: center;
    margin: 5px;
    background: none;
}

.close-button:hover {
    transform: scale(1.04);
}

.notesControls {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.noteButton {
    cursor: pointer;
    border: solid;
    height: 15px;
    width: 95px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(10, 121, 211, 0.2);
    border: none;
    align-items: center;
    font-size: 16px;
    color: rgb(27,57,105);
    font-family: Georgia, serif;
}

.noteButton:hover {
    background-color: rgba(41, 119, 208, 0.35);
    transform: scale(1.04);
}

.window {
    font-family: Georgia, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.25);
    border: solid;
    width: 280px;
    border-radius: 25px;
    padding: 10px;
    justify-content:space-between;
    border: solid rgba(70, 74, 82, 0.35);
    box-shadow:0 10px 35px rgba(0,0,0,.22), 0 2px 8px rgba(0,0,0,.15);
}
.autoWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(50px);
    border: solid;
    width: 650px;
    border-radius: 25px;
    padding: 10px;
    justify-content:space-between;
    border: solid rgba(70, 74, 82, 0.35);
    box-shadow:0 10px 35px rgba(0,0,0,.22), 0 2px 8px rgba(0,0,0,.15);
}

.header {
    display: flex;
    height: 35px;
    justify-content: space-between;
    border: solid rgba(70, 74, 82, 0.35);
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(56, 119, 208, 0.2);
    box-shadow: inset 5px 5px 5px 5px rgba(255,255,255,.4);
}

.desktopHeader {
    display: flex;
    height: 35px;
    border: solid rgba(70, 74, 82, 0.35);
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(56, 119, 208, 0.2);
    justify-content: space-between;
}

.quote {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: Georgia, serif;
    border: solid rgba(67, 118, 221, 0.8);
    border-radius: 10px;
    height: 20px;
    width: auto;
    padding: 5px;
    text-align: center;
}

.quote:hover {
    transform: scale(1.01);
}

.apps {
    padding-top: 10px;
    width: 70px;
    height: 620px;
    align-items: center;
    position: absolute;
    margin: 10px;
    left: 10px;
    top: 70px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

/*.selected {
    filter: drop-shadow(0 0 18px black);
    background-color: rgba(125, 151, 245, 0.2);
    border: solid rgba(21, 97, 238, 0.8);
    border-radius: 5px;
}*/

#notes{
    width:800px;
    height:560px;
    display:flex;
    flex-direction:column;
}

.notesToolbar{
    margin-top:12px;
    margin-bottom:12px;
}

.notesContainer{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:15px;
    overflow-y:auto;
    padding:15px;
    border-radius:18px;
    background:rgba(255,255,255,.32);
    border:1px solid rgba(0,0,0,.12);
}

.note{
    position:relative;
    min-height:60px;
    border-radius:14px;
    padding:15px;
    padding-top:45px;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,.12);
}

.note-input{
    min-height:60px;
    outline:none;
    white-space:pre-wrap;
    word-break:break-word;
}

.note-input:empty::before {
  content: attr(data-placeholder);
  color: rgb(107, 134, 170);
  pointer-events: none;
}

.save-note{
    position:absolute;
    top:8px;
    right:45px;
    border:none;
    border-radius:10px;
    padding:6px 10px;
    cursor:pointer;
}

.save-note:hover{
    background-color: rgba(41, 119, 208, 0.35);
    transform: scale(1.04);   
}

.delete-note{
    position:absolute;
    top:8px;
    right:8px;
    border:none;
    border-radius:10px;
    padding:6px 10px;
    cursor:pointer;
}

.delete-note:hover{
    background-color: rgba(41, 119, 208, 0.35);
    transform: scale(1.04);
}

.load-note-button{
    width:100%;
    text-align:left;
    padding:10px;
    margin-bottom:8px;
    border:none;
    border-radius:10px;
    background:rgba(255,255,255,.45);
    cursor:pointer;
}

.notesContainer::-webkit-scrollbar,
.savedNotes::-webkit-scrollbar{
    width:8px;
}
.notesContainer::-webkit-scrollbar-thumb,
.savedNotes::-webkit-scrollbar-thumb{
    background:rgba(0,0,0,.25);
    border-radius:10px;
}

.load-note-button:hover{
    background:rgba(56,119,208,.25);
}

.main-notes{
    flex:1;
    display:flex;
    gap:18px;
    overflow:hidden;
}

.savedNotes{
    width:220px;
    min-width:220px;
    display:flex;
    flex-direction:column;
    border-radius:18px;
    padding:15px;
    overflow-y:auto;
    background:rgba(255,255,255,.32);
    border:1px solid rgba(0,0,0,.12);
}

.savedNotes h3{
    margin-top:0;
    margin-bottom:15px;
    color:rgb(27,57,105);
    text-align:center;
}

.calculator-display {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 15px;
    min-height: 35px;
    border: solid rgba(70, 74, 82, 0.35);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(20px);
    font-size: 28px;
    text-align: right;
    overflow-x: auto;
    color: rgb(9, 2, 47);
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.calc-button {
    padding: 14px 5px;
    border-radius: 12px;
    border: none;
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(20px);
    font-size: 18px;
    cursor: pointer;
    color: rgb(27,57,105);
}

.calc-button:hover {
    background-color: rgba(41, 119, 208, 0.35);
    transform: scale(1.04);
}

.operator-button {
    background-color: rgba(10, 121, 211, 0.3);
    font-weight: bold;
}

.clear-button {
    background-color: rgba(28, 1, 52, 0.3);
    font-weight: bold;
}

.equals-button {
    background-color: rgba(56, 201, 230, 0.3);
    font-weight: bold;
}

.zero-button {
    grid-column: span 2;
}

.mind-map-window {
    width: auto;
    height: auto;
}

.mindMapControls {
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#mindMapArea {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    overflow:auto;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

#mindMapLines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mind-node {
    position: absolute;
    width: 150px;
    min-height: 55px;
    padding: 8px;
    border: 2px solid rgba(67, 118, 221, 0.8);
    border-radius: 14px;
    background-color: rgba(235, 235, 235, 0.9);
    box-sizing: border-box;
    z-index: 2;
}

.mind-node input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 16px;
    outline: none;
    text-align: center;
    color: rgba(27,57,105,0.2);
    font-family: Georgia, serif;
}

.mind-node.selected {
    border: 4px solid rgba(21, 148, 238, 0.8);
    box-shadow: 0 0 10px rgba(21, 68, 238, 0.5);
} 

.root-node {
    top: 220px;
    left: 350px;
}

.mapButton {
    padding: 8px 12px;
    border:none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(20px);
    font-size: 14px;
    cursor: pointer;
    color: rgb(27,57,105);
}

.mapButton:hover {
    background-color: rgba(41, 119, 208, 0.35);
    transform: scale(1.04);
}

#galleryImage {
  width: 275px;
  height: 300px;
  object-fit: contain;
  background: #b8e5f335;
  border-radius: 16px;
  border: solid rgba(70, 74, 82, 0.35);
  margin-top: 10px;
}

.galleryControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.galleryControls button {
  font-size: 22px;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.45);
}

.galleryControls button:hover {
    background-color: rgba(41, 119, 208, 0.35);
    transform: scale(1.1);
    transform: translateY(-2px);
}

.galleryContainer {
  padding: 15px;
  text-align: center;
}

.paintwindow {
    font-family: Georgia, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.25);
    border: solid;
    width: 500px;
    border-radius: 25px;
    padding: 10px;
    justify-content:space-between;
    align-content: center;
    border: solid rgba(70, 74, 82, 0.35);
    box-shadow:0 10px 35px rgba(0,0,0,.22), 0 2px 8px rgba(0,0,0,.15);
}

.paintCanvas {
  border: solid rgba(70, 74, 82, 0.35);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(20px);
  margin-top: 10px;
}

.paintControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  border-radius: 15px;
  padding: 8px;
  background:rgba(255,255,255,.18);
  box-shadow:0 10px 35px rgba(0,0,0,.22), 0 2px 8px rgba(0,0,0,.15);   
}

.paintButton {
    width:80px;
    height:38px;
    border:none;
    border-radius:12px;
    background:rgba(255,255,255,.3);
    cursor:pointer;
    transition:.2s;
}

.paintButton:hover {
    background-color: rgba(41, 119, 208, 0.35);
    transform: scale(1.04);
}

.colorPickerButton{
    width:48px;
    height:48px;
    border-radius:50%;
    background:rgba(255,255,255,.28);
    backdrop-filter:blur(18px);
    border: 2px solid rgba(67,118,221,.8);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:.2s;
    box-shadow:0 8px 15px rgba(0,0,0,.15), inset 0 1px rgba(255,255,255,.45);
}

.colorPickerButton:hover {
    transform: scale(1.04);
}

#colorPicker{
    width:34px;
    height:34px;
    border:none;
    padding:0;
    background:none;
    cursor:pointer;
    border-radius:50%;
}

#colorPicker::-webkit-color-swatch-wrapper{
    padding:0;
}

#colorPicker::-webkit-color-swatch{
    border:none;
    border-radius:50%;
}

.brushSize{
    -webkit-appearance:none;
    appearance:none;
    width:120px;
    height:8px;
    border-radius:20px;
    background:rgba(255,255,255,.25);
    backdrop-filter:blur(15px);
    outline:none;
}

.brushSize::-webkit-slider-runnable-track{
    height:8px;
    border-radius:20px;
    background:
        linear-gradient(
            to right,
            rgba(255, 255, 255, 0.75),
            rgba(72, 86, 85, 0.75)
        );
}

.brushSize::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    margin-top:-7px;
    border-radius:50%;
    background:white;
    border: solid rgba(70, 74, 82, 0.8);
    box-shadow: 0 4px 12px rgba(0,0,0,.25);
    cursor:pointer;
    transition:.15s;
}

.brushSize::-webkit-slider-thumb:hover{
    transform:scale(1.15);
}

.paintControlsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
}

#quotes {
    background: linear-gradient(
        135deg,
        rgba(20, 70, 170, 0.35),
        rgba(40, 120, 255, 0.35),
        rgba(40, 180, 255, 0.35),
        rgba(25, 90, 210, 0.35),
        rgba(20, 255, 255, 0.35),
        rgba(40, 80, 255, 0.35),
        rgba(20, 100, 255, 0.35),
        rgba(10, 100, 240, 0.35),
        rgba(20, 170, 170, 0.35),
        rgba(79, 230, 220, 0.35),
        rgba(11, 185, 212, 0.35),
        rgba(20, 70, 170, 0.35),
        rgba(40, 120, 255, 0.35),
        rgba(40, 180, 255, 0.35),
        rgba(25, 90, 210, 0.35),
        rgba(20, 255, 255, 0.35),
        rgba(40, 80, 255, 0.35),
        rgba(20, 100, 255, 0.35),
        rgba(10, 100, 240, 0.35),
        rgba(20, 170, 170, 0.35),
        rgba(79, 230, 220, 0.35),
        rgba(11, 185, 212, 0.35)
    );
    background-size: 400% 400%;
    animation: blueFlow 20s ease infinite;
}

@keyframes blueFlow {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

#welcomescreen {
    background: linear-gradient(
        135deg,
        rgba(20, 70, 170, 0.35),
        rgba(40, 120, 255, 0.35),
        rgba(40, 180, 255, 0.35),
        rgba(25, 90, 210, 0.35),
        rgba(20, 255, 255, 0.35),
        rgba(40, 80, 255, 0.35),
        rgba(20, 100, 255, 0.35),
        rgba(10, 100, 240, 0.35),
        rgba(20, 170, 170, 0.35),
        rgba(79, 230, 220, 0.35),
        rgba(11, 185, 212, 0.35),
        rgba(20, 70, 170, 0.35),
        rgba(40, 120, 255, 0.35),
        rgba(40, 180, 255, 0.35),
        rgba(25, 90, 210, 0.35),
        rgba(20, 255, 255, 0.35),
        rgba(40, 80, 255, 0.35),
        rgba(20, 100, 255, 0.35),
        rgba(10, 100, 240, 0.35),
        rgba(20, 170, 170, 0.35),
        rgba(79, 230, 220, 0.35),
        rgba(11, 185, 212, 0.35)
    );
    background-size: 400% 400%;
    animation: welcomeFlow 20s ease infinite;
}

@keyframes welcomeFlow {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.loadPaintWindow {
    font-family: Georgia, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.25);
    border: solid;
    width: 280px;
    border-radius: 25px;
    padding: 10px;
    justify-content:space-between;
    border: solid rgba(70, 74, 82, 0.35);
    box-shadow:0 10px 35px rgba(0,0,0,.22), 0 2px 8px rgba(0,0,0,.15);
}

.load-painting-button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    border: solid rgba(1, 1, 1, 0.1);
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(20px);
    font-size: 14px;
    cursor: pointer;
    color: rgb(27,57,105);
}

.load-painting-button:hover {
    background-color: rgba(41, 119, 208, 0.35);
    transform: scale(1.04);
}

.browserToolbar{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
    background:rgba(255,255,255,.18);
    backdrop-filter:blur(15px);
    border-radius: 15px;
    margin-top: 5px;
    box-shadow:0 10px 35px rgba(0,0,0,.22), 0 2px 8px rgba(0,0,0,.15);   
}

.browserToolbar button{
    width:38px;
    height:38px;
    border:none;
    border-radius:12px;
    background:rgba(255,255,255,.3);
    cursor:pointer;
    transition:.2s;
}

.browserToolbar button:hover{
    background:rgba(255,255,255,.5);
    transform:translateY(-2px);
}

#browserURL{
    flex:1;
    height:38px;
    border:none;
    border-radius:20px;
    padding:0 15px;
    font-size:15px;
    background:rgba(255,255,255,.85);
    outline:none;
}

#browserHome{
    padding:30px;
    text-align:center;
}

.browserShortcuts{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    margin-top:30px;
}

.browserShortcut{
    padding:25px;
    border-radius:20px;
    background-color: rgba(56, 119, 208, 0.2);
    backdrop-filter:blur(15px);
    cursor:pointer;
    transition:.2s;
    font-size:40px;
    font-size: 16px;
    text-align: center;
}

.browserShortcut:hover{
    transform:translateY(-6px);
    background:rgba(255,255,255,.35);
}

#browserFrame{
    width:100%;
    height:520px;
    border:none;
    display:none;
    border-radius: 15px;
    margin-top: 5px;
}

#browserHistory{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    gap:10px;
    overflow: hidden;
}

.historyItem{
    padding:12px;
    border-radius:12px;
    background:rgba(255,255,255,.15);
    cursor:pointer;
    transition:.2s;
}

.historyItem:hover{
    background:rgba(255,255,255,.3);
}
